@import 'https://use.typekit.net/oov2wcw.css';
@import 'tailwindcss';

@layer base {
  html{
    scroll-behavior: smooth;
  }
  body {
    @apply bg-linear-to-br from-black to-gray-700 text-white font-century-gothic relative
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  .section{
    @apply animate-section-appear animate-appear p-52 w-full 
  }
  #swiper-wrapper {
    transition: transform 0.3s linear;
  }
}

section{
  animation: section-appear ;
  animation-timeline: view();
}

#progress-bar {
  animation: KF linear;
  animation-timeline: scroll();
}

@theme {
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes section-appear {
    from{
      opacity: 0;
      transform: translateY(100px) scale(0.9);
    }
    to{
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes KF {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(2);
  }
}

  --font-century-gothic: century-gothic, sans-serif; 
  --animate-appear: appear 1s ease-in-out;
  --animate-section-appear: appear 1s ease-in-out;
}
