@import url('https://use.typekit.net/oov2wcw.css');
@import 'tailwindcss';

@layer base {
  html{
    scroll-behavior: smooth;
  }
  h1 {
    @apply text-5xl xs:max-sm:text-base sm:max-md:text-xl md:max-lg:text-2xl lg:text-3xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl xs:max-sm:text-sm sm:max-md:text-lg md:max-lg:text-xl lg:text-2xl;
  }
  h6 {
    @apply text-lg;
  }
  p{
    @apply  xs:max-lg:text-justify xs:max-sm:text-xs sm:max-md:text-sm md:max-lg:text-base lg:text-lg;
  }
  .section{
    @apply animate-section-appear animate-appear p-52 w-full 
  }
  #responsive-title{
    @apply xs:max-sm:text-2xl
  }
  #swiper-wrapper {
    transition: transform 0.3s linear;
  }
  .small-section{
    @apply xs:max-sm:p-8 
  }
  .small-div{
    @apply  xs:max-sm:**:mb-2 xs:max-sm:self-start
  }
  .medium-section{
    @apply xs:max-sm:p-10
  }
  :root { color-scheme: light; }
}

section{
  animation: section-appear ;
  animation-timeline: view();
}

#progress-bar {
  animation: KF linear;
  animation-timeline: scroll();
}

@theme {

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes section-appear {
    from{
      opacity: 0;
      transform: translateY(100px) scale(0.9);
    }
    to{
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes KF {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(2);
  }
}

  --font-century-gothic: century-gothic, sans-serif; 

  --animate-appear: appear 1s ease-in-out;
  --animate-section-appear: appear 1s ease-in-out;

  --breakpoint-xs: 14rem;
  --breakpoint-sm: 22rem;
  --breakpoint-md: 29rem;
  --breakpoint-lg: 39rem;
  --breakpoint-xl: 50rem;
  --breakpoint-xxl: 80rem;
}
